# --- GOSTUFF (Backend) ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env

# --- REACTSTUFF (Frontend) ---
node_modules
dist
dist-ssr
*.local
logs
*.log
npm-debug.log*

# --- IDE & SYSTEM ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?